.contact {
  margin-bottom: 80px;
}

.contact fieldset {
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(39, 174, 96, 0.8);
}

.contact-form {
  width: 80%;
  margin: 2rem auto;
}

.contact h4 span, .contact-form label span {
  font-size: 1.2rem;
  color: red;
}

.contact .field {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.contact .field:last-child {
  border-bottom: none;
}

.contact-form label {
  font-size: 1.5rem;
  font-weight: 500;
  color: #171717;
}

.contact .field input,
textarea {
  width: 100%;
  padding: 10px 30px;
  font-size: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.contact-form button {
  color: #fff;
  margin: 10px;
  padding: 5px 20px;
  border-radius: 5px;
  border: 1px solid #27ae60;
  background-color: #27ae60;
  box-shadow: 0px 0px 5px #27ae60;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}

.contact-form button:hover {
  opacity: 0.7;
}

.contact-form .field .input__error {
  border: 2px solid #ff2400;
}

.error-container {
  height: 20px; /*to reserve a space for the error message*/
}

.contact-form .error__message {
  display: block;
  color: #ff2400;
  font-size: 0.8rem;
  font-weight: 500;
}

.contact .form-feedback {
  display: flex;
  align-items: center;
  height: 40px; /*to reserve a space for the feedback message*/
}

.contact .feedback-message {
  border: 1px solid #27ae60;
  background-color: #27ae60;
  margin-left: 20px;
  padding: 20px;
  border-radius: 5px;
  font-weight: 600;
  color: #fff;
  transform-origin: left;
  animation: 3s ease-in-out notify;
}

@keyframes notify {
  0% {
    transform: scaleX(0);
  }
  20% {
    transform: scaleX(1);
  }
  90% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

@media screen and (max-width: 768px) {
  .contact-form {
    width: 100%;
  }

  .contact-form .field {
    display: flex;
    flex-direction: column;
  }
  .contact input {
    width: 100%;
  }
}
