.cars .text {
    padding: 30px;
}

.cars .availability span{
    padding: 4px 15px;
    border-radius: 2px;
    font-weight: 600;
    font-size: 13px;
    display: inline-block;
}

.cars .availability i {
    font-size: 20px;
    color: #bec7d8;
}

.cars p {
    color: #72809d;
}

.cars .button {
    border-top: 1px solid #efe8f3;
    padding: 10px 30px;
}

.cars img {
    height: 30rem;
}

@media screen and (max-width: 450px) {
    .cars img {
        height: 20rem;
    }
}

@media screen and (min-width: 850px) and (max-width: 1250px) {
    .cars img {
        height: 25rem;
    }

    .grid3 {
        grid-template-columns: repeat(2, 1fr);
    }
}

